# CocoaPods
/Pods/
/Podfile.lock

# Carthage
/Carthage/Build/
/Carthage/Checkouts/

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/xcode/package.resolved

# Xcode
build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# Other
.DS_Store
.idea/
.vscode/
